html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #eee;
}

.button {
  padding: 5px 15px;
  border-radius: 2px;
  border: 1px solid transparent;
  border-bottom-width: 5px;
}