* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  height: 100%;
}

body {
  font-family: 'Shabnam', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: #f9f9f9;
}

/* <transition /> animation classes */
.fade-enter-active,
.fade-leave-active {
  transition: all 0.23s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: scale(0.25);
}

/* Buttons with icon content style */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.25rem;
  height: 3.25rem;
  background: #fff;
  color: inherit;
  border: 0.27rem solid #ddd;
  border-radius: 43%;
  cursor: pointer;
  outline: none;
  transition: background 0.23s;
}
.button:hover {
  background: #eee;
}

/* Character block wrapper div class */
.col {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  border-radius: 1.05rem;
  background: #ddd;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  overflow: hidden;
}
.col:last-child {
  margin: 0;
}

.block {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
}

/* Dark theme specific styles */
#app {
  /* Theme switch soft animation */
  transition: all 0.3s;
}

#app.dark {
  background-color: rgb(38, 40, 51);
  color: #f9f9f9;
}

#app.dark .col,
#app.dark .next-block {
  background: rgba(0, 0, 0, 0.4);
}

#app.dark .button,
#app.dark .menu-button,
#app.dark .game-mode-selector {
  background: rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 0.5);
}